<footer class="site-footer clearfix">
    <div class="wrapper">
        <div class="footer-col-wrapper clearfix">
            <div class="footer-col">
                <a href="{{ '/zhao.html' | prepend:site.baseurl }}">公司招聘</a>
            </div>
            <div class="footer-col">
                <a href="{{ '/books.html' | prepend:site.baseurl }}">{{ site.footer_books }}</a>
            </div>
            <div class="footer-col">
                {% if site.github_username %}
                <a target="_blank" href="{{ site.github_username | prepend:'https://github.com/'}}">
                    <span class="username">{{ site.footer_github }}</span>
                </a>
                {% endif %}
            </div>
            <div class="footer-col">
                <a href="{{site.footer_resume_site}}">{{ site.footer_resume }}</a>
            </div>
        </div>
    </div>
</footer>
