<footer class="site-footer clearfix">
    <div class="wrapper">
        <div class="footer-col-wrapper clearfix">
            <div class="footer-col">
                {% if site.footer_twitter %}
                <a target="_blank" href="{{ site.footer_twitter_site }}">
                    <span class="username">{{ site.footer_twitter }}</span>
                </a>
                {% endif %}
            </div>
            <div class="footer-col">
                {% if site.github_username %}
                <a target="_blank" href="{{ site.github_username | prepend:'https://github.com/'}}">
                    <span class="username">{{ site.footer_github }}</span>
                </a>
                {% endif %}
            </div>
            <div class="footer-col">
                <a target="_blank" href="{{site.footer_resume_site}}">{{ site.footer_resume }}</a>
            </div>
        </div>
    </div>
</footer>
