<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="baidu-site-verification" content="BxoR28hj8I" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css?01" | prepend: site.baseurl }}">
    {%  if page.book %}
        <link rel="stylesheet" href="{{ "/css/book.css?20150914" | prepend: site.baseurl }}">
    {% endif %}
</head>
