<!DOCTYPE html>
<html>

<head>
    <title>demo-lib-flexible</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/flexible.js"></script>
</head>

<body>
    <div class="container">
        <div id="app">
            <p v-text="message"></p>
            <input type="text" v-model="message">
            <p v-if="age>=25">Age:{{age}}</p>
            <p v-if="yes">Yes!</p>
            <p v-show="no">No!</p>
            <p v-else>No is false</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Sex</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="person in people | orderBy 'grade.num' -1">
                        <td>{{ person.name }}</td>
                        <td>{{ person.age }}</td>
                        <td>{{ person.sex }}</td>
                        <td>{{ person.grade.num}}</td>
                        <td>
                            <button @click="deletePerson($index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li v-for="n in pageCount">
                    <a :class="activeNumber === n + 1 ? 'active' : ''">{{n+1}}</a>
                </li>
            </ul>
            <p>
                <button @click="greet">greet</button>
            </p>
            <p>
                <button @click="say('Hi')">Hi</button>
            </p>
            <fieldset>
                <legend>
                    Create New Person
                </legend>
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" v-model="newPerson.name" />
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <input type="text" v-model="newPerson.age" />
                </div>
                <div class="form-group">
                    <label>Sex:</label>
                    <select v-model="newPerson.sex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Grade:</label>
                    <input type="text" v-model="newPerson.grade.num" />
                </div>
                <div class="form-group">
                    <label></label>
                    <button @click="createPerson">Create</button>
                </div>
            </fieldset>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>
